<body class="g-sidenav-show   bg-gray-100">
    {{>sidebar}}
    <main class="main-content position-relative border-radius-lg ">
        {{> navbar}}
        <table>
            <thead>
            <tr>
                <th style="color: antiquewhite;">Hora</th>
                <th style="color: antiquewhite;">Lunes</th>
                <th style="color: antiquewhite;">Martes</th>
                <th style="color: antiquewhite;">Miércoles</th>
                <th style="color: antiquewhite;">Jueves</th>
                <th style="color: antiquewhite;">Viernes</th>
                <th style="color: antiquewhite;">Sábado</th>
            </tr>
            </thead>
            <tbody>
            {{#each horario}}
                <tr>
                {{#each this}}
                    <td><input type="text" "  value="{{this}}"></td>
                {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
        <form action="/Salon/Update" method="post">
            <button type="submit">Actualizar</button>
        </form>
       
    </main>
    

</body>